{% extends 'base.html.twig' %}

{% block body %}
<h3>A propos de La shop</h3>
<p>
    Nous sommes des étudiants de la classe 4DSIA et nous réalisons un projet basé sur le framework Symfony. Ce projet nous permet de mettre en pratique nos connaissances en développement web, tout en explorant les bonnes pratiques et les outils modernes pour construire des applications robustes et évolutives. Nous collaborons activement pour atteindre les objectifs fixés, en appliquant des concepts tels que l'architecture MVC, les entités, les contrôleurs et les vues, tout en intégrant des fonctionnalités avancées offertes par Symfony.
</p>

{% endblock %}